<ion-modal-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <h1 class="title">Game Settings</h1>
        <button class="button button-clear button-primary" ng-click="exitCreateOrEditGamePage()">Cancel</button>
    </ion-header-bar>
        <ion-content class="padding">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label"><b>Game Name</b></span>
                    <input ng-model="currentGameInstance.gameName" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label"><b>Team A Name</b></span>
                    <input ng-model="currentGameInstance.teamA.name" type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label"><b>Team B Name</b></span>
                    <input ng-model="currentGameInstance.teamB.name" type="text">
                </label>
                <button class="button button-full button-positive" ng-click="createOrEditGame()">Save</button>
            </div>
        </ion-content>
</ion-modal-view>