<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
        <button class="button button-clear button-primary" ng-click="goToLogin()">Sign Out</button>
        <h1 class="title">List of Games</h1>
        <div class="buttons">
            <button class="button button-icon ion-compose" ng-click="goToCreateOrEditGame()"/>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list>          
            <ion-item class="game-item-games-list" ng-click="openPlayersList(game)" ng-repeat="game in games track by $index" >
                {{game.gameName}}
                <ion-option-button class="button-positive" ng-click="editGame(game)">
                    Edit
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="deleteGame(game)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>