<ion-popover-view class="popover-height">
    <ion-content scroll="false">
        <ion-list>
            <ion-item ng-click="addPlayer()">
                Add Players
            </ion-item>    
            <ion-item ng-click="setIsSelectedBoolean(true)">
                Select All Players
            </ion-item>
            <ion-item ng-click="setIsSelectedBoolean(false)">
                Clear Selection
            </ion-item>
            <ion-item ng-click="showTeamList()">
                Make Teams
            </ion-item>
            <ion-item ng-click="updateRatings()">
                Update Ratings
            </ion-item>   
        </ion-list>
    </ion-content>
</ion-popover-view>