<ion-modal-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <h1 class="title">Team Assignment</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="item item-divider">{{currentGameInstance.teamA.name}}</div>
            <ion-list>          
                <ion-item ng-repeat="playerA in currentGameInstance.teamA.players track by $index" >
                    {{playerA.name}}
                </ion-item>
            </ion-list>        
        </div>
        <div class="item item-divider">{{currentGameInstance.teamB.name}}</div>
            <ion-list>          
                <ion-item ng-repeat="playerB in currentGameInstance.teamB.players track by $index" >
                    {{playerB.name}}
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-divider">Scores</div>
            <label class="item item-input">
                <span class="input-label"><b>{{currentGameInstance.teamA.name}}</b></span>
                <input ng-model="scoreA" type="text">
            </label>
            <label class="item item-input">
                <span class="input-label"><b>{{currentGameInstance.teamB.name}}</b></span>
                <input ng-model="scoreB" type="text">
            </label>
        </div>
        <button class="button button-full button-positive" ng-click="saveScore()">Save</button>
        <button class="button button-full button-assertive" ng-click="cancel()">Cancel</button>
       </ion-modal-view>