<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="ionicApp" ng-controller="AppCtrl">
    <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title">Game List</h1>
      <div class="buttons">
        <button class="button button-icon ion-information-circled" ng-click=""/>
        <button class="button button-icon ion-compose" ng-click="modal.show()"/>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="game in games">
          {{game.gameName}}
        </ion-item>
      </ion-list>
    </ion-content>
    <script id="templates/modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar align-tite="center" class="bar bar-header bar-positive">
          <h1 class="title">Game Settings</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Game Name</span>
              <input ng-model="newGame.gameName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Team A Name</span>
              <input ng-model="newGame.teamA" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Team B Name</span>
              <input ng-model="newGame.teamB" type="text">
            </label>
            <ion-toggle ng-model="newGame.hasBODCount" toggle-class="toggle-calm">Balance Offense-Defense Count</ion-toggle>
            <ion-toggle ng-model="newGame.hasSuperOptimizer" toggle-class="toggle-calm">Use Super Optimizer</ion-toggle>
            <ion-toggle ng-show="newGame.hasSuperOptimizer" ng-model="newGame.hasBODCount" toggle-class="toggle-calm">Balance Offense-Defense Count</ion-toggle>
            <button class="button button-full button-positive" ng-click="createGame(newGame)">Save</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </body>
</html>
