<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
  </head>

  <body ng-app="ionicApp" ng-controller="AppCtrl">
    <ion-header-bar align-title="center" class="bar-positive">
      <h1 class="title">List of Games</h1>
      <div class="buttons">
        <button class="button button-icon ion-compose" ng-click="createoreditgame.show()"/>
      </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>          
        <ion-item ng-click="openPlayersList(game)" ng-repeat="game in games track by $index" >
          {{game.gameName}}
          <ion-option-button class="button-positive" ng-click="editGame(game)">
            Edit
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-click="deleteGame(game)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </body>
</html>
